@model TimeSheetManagementSystem.Models.SessionSynopsis

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SessionSynopsis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionSynopsisName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessionSynopsisName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SessionSynopsisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
