@model IEnumerable<TimeSheetManagementSystem.Models.SessionSynopsis>

@{
    ViewData["Title"] = "Manage Session Synposis";
}

<h2>Manage Session Synopsis</h2>

<p class="pull-right">
    <a class="btn btn-success" role="button" asp-action="Create">Create a new session synopsis</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    <label>Synopsis Name</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVisible)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionSynopsisName)
            </td>
            <td name="switch">
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy.FullName)
            </td>
            <td>
                
                <a class="btn btn-info pull-right" role="button" asp-action="Details" asp-route-id="@item.SessionSynopsisId">Details</a>
                <a class="btn btn-warning pull-right" role="button" asp-action="Edit" asp-route-id="@item.SessionSynopsisId">Edit</a>
                <a class="btn btn-danger pull-right" role="button" asp-action="Delete" asp-route-id="@item.SessionSynopsisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{ 
    <script>
        $(document).ready(function () {
            // Can't use Null because the tempdata will be an empty string when it's not initialized.'
            if ('@(TempData["Success"])' !== "") {
                var message = '@TempData["Success"]'
                new Noty({
                    text: message,
                    theme: 'metroui',
                    type: 'success',
                    timeout: 5000
                }).show();
            }
        });
    </script>
}