@model IEnumerable<TimeSheetManagementSystem.Models.CustomerAccount>

@{
    ViewData["Title"] = "Index";
}

<h2>Customer Account Management</h2>

<p>
    <a class="btn btn-success pull-right" role="button" asp-action="Create">Create new customer account</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    <label>Account Name</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    <label>Visibility</label>
                </th>
                <th>
                    <label>Created At</label>
                </th>
                <th>
                    <label>Updated At</label>
                </th>
            <th>
                <label>Created By</label>
            </th>
            <th>
                <label>Updated By</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy.FullName)
            </td>
            <td>
                <a class="btn btn-warning pull-right" role="button" asp-action="Edit" asp-route-id="@item.CustomerAccountId">Edit</a>
                <a class="btn btn-info pull-right" role="button" asp-action="Details" asp-route-id="@item.CustomerAccountId">Details</a>
                <a class="btn btn-danger pull-right" role="button" asp-action="Index" asp-route-id="@item.CustomerAccountId" asp-controller="AccountDetails" asp-route-name="@item.AccountName">Account Details</a>
                <a class="btn btn-danger pull-right" role="button" asp-action="Delete" asp-route-id="@item.CustomerAccountId">Delete</a>
                <a class="btn btn-primary pull-right" role="button" asp-action="Index" asp-route-id="@item.CustomerAccountId" asp-controller="AccountRates">Account Rates</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            // Can't use Null because the tempdata will be an empty string when it's not initialized.'
            if ('@(TempData["Success"])' !== "") {
                var message = '@TempData["Success"]'
                new Noty({
                    text: message,
                    theme: 'metroui',
                    type: 'success',
                    timeout: 5000
                }).show();
            }
        });
    </script>
}